body {
    height: 100vh;
    width: 100%;
}

.login-screen {
    z-index: 3;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3));
}

.login-form {
    position: absolute;
    top: 100px;
    height: 300px;
    width: 448px;
    border-radius: 3px;
    background-color: rgb(50, 50, 55);
    display: flex;
    flex-direction: column;
    animation: login-in ease;
    animation-duration: 0.7s;
    overflow: hidden;
}

@keyframes login-in {
    0% {
        top: -300px
    }

    100% {
        top: 100px
    }
}

.username {
    margin: auto;
    margin-left: 12px;
    height: 100%;
    width: 100%;
}

.password {
    margin: auto;
    margin-left: 12px;
    height: 100%;
    width: 100%;
}

.create-acc-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    margin: 16px;
}

#create-acc-link {
    color: rgb(100, 100, 255);
    transition: 0.4s;
    margin-left: auto;
    margin-right: 32px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
}

#login-link {
    color: rgb(100, 100, 255);
    transition: 0.4s;
    margin-left: auto;
    margin-right: 32px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
}

#create-acc-link:hover {
    color: rgb(255, 255, 255);
}

#login-link:hover {
    color: rgb(255, 255, 255);
}

.create-account-form {
    position: absolute;
    top: -300px;
    height: 300px;
    width: 448px;
    border-radius: 3px;
    border-bottom: 2px solid rgb(100, 100, 100);
    background-color: rgb(50, 50, 55);
    display: flex;
    flex-direction: column;
}

.create-in {
    top: 0px;
    animation: createin ease;
    animation-duration: 0.5s;
}

.create-out {
    top: -300px;
    animation: create-out ease;
    animation-duration: 0.5s;
}

@keyframes create-out {
    0% {
        top: 0px
    }

    100% {
        top: -298px
    }
}

@keyframes createin {
    0% {
        top: -300px
    }

    100% {
        top: 0px
    }
}

    .ui {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ui.nav {
        z-index: 3;
        position: absolute;
        flex-direction: row;
        height: 38px;
        width: 100%;
        background-color: rgb(55,55,55);
        box-shadow: 0 0 20px 0 rgb(0,0,0,0.3);
    }

    .wrapper {
        position: absolute;
        top: 38px;
        background: linear-gradient(to bottom, rgb(55,55,55), rgb(30,30,100));
        height: calc(60% - 19px);
        width: 100%;
    }

    .ui.inst-names {
        position: absolute;
        left: 0;
        height: 100%;

        width: 100px;
        background-color: transparent;
        justify-content: flex-end;
    }

    .ui.inst {
        height: 9.4%;
        font-size: 20px;
        font-weight: bold;
    }

    .beat-board {
        z-index: 0;
        position: absolute;
        height: 100%;
        width: calc(100% - 100px);
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .ui.user-board {
        z-index: 3;
        border-top: 1px black;
        position: absolute;
        height: calc(40% - 19px);
        width: 100%;
        bottom: 0;
        background: linear-gradient(to top, rgb(55,55,55), rgb(30,30,100));
        box-shadow: 0 0 20px 0 rgb(0,0,0,0.3);
    }

    .ui.title {
        height: 28px;
        width: 100%;
        background: none;
        font-family: Charmonman;
    }

    .ui.button {
        position: absolute;
        right: 8px;
        height: 28px;
        width: 78px;
        cursor: pointer;
        border-radius: 3px;
        background-color: rgb(77,77,77);
        transition: ease 0.4s;
        text-align: center;
    }

    .ui.button:hover {
        background-color: rgb(100,100,100);
    }

    .ui.button.acc {
        position: absolute;
        width: auto;
        bottom: 28px;
        right: 30%;
        left: 30%;
    }

    #close-login {
        position: absolute;
        right: 8px;
        top: 8px;
        height: 28px;
        width: 28px;
        cursor: pointer;
        border-radius: 3px;
        transition: 0.4s;
    }

    #close-login:hover {
        background-color: grey;
    }

    .ui.login-screen {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: calc(100% - 4px);
        overflow: hidden;
        font-family: roboto;
        color: rgb(200, 200, 230);
    }
    
    input {
        background-color: silver;
        transition: 0.4s;
        margin: 24px;
        padding: 10px;
        width: 90%;
        height: 8px;
        border-radius: 3px;
        border: none;
        outline: 0;
    }
    
    input:focus {
        background-color: white;
    }
    
    nav {
        position: absolute;
        top: 0;
        height: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .login-screen {
        z-index: 3;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3));
    }
    
    .login-form {
        position: absolute;
        top: 100px;
        height: 300px;
        width: 448px;
        border-radius: 3px;
        background-color: rgb(50, 50, 55);
        display: flex;
        flex-direction: column;
        animation: login-in ease;
        animation-duration: 0.7s;
        overflow: hidden;
    }
    
    @keyframes login-in {
        0% {
            top: -300px
        }
    
        100% {
            top: 100px
        }
    }
    
    .username {
        margin: auto;
        height: 100%;
        width: 100%;
    }
    
    .password {
        padding-bottom: 18px;
        margin: auto;
        height: 100%;
        width: 100%;
    }
    
    .create-acc-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        margin: 16px;
    }
    
    #create-acc-link {
        color: rgb(100, 100, 255);
        transition: 0.4s;
        margin-left: auto;
        margin-right: 32px;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        -webkit-user-drag: none;
    }
    
    #login-link {
        color: rgb(100, 100, 255);
        transition: 0.4s;
        margin-left: auto;
        margin-right: 32px;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        -webkit-user-drag: none;
    }
    
    #create-acc-link:hover {
        color: rgb(255, 255, 255);
    }
    
    #login-link:hover {
        color: rgb(255, 255, 255);
    }
    
    .create-account-form {
        position: absolute;
        top: -300px;
        height: 300px;
        width: 448px;
        border-radius: 3px;
        border-bottom: 2px solid rgb(100, 100, 100);
        background-color: rgb(50, 50, 55);
        display: flex;
        flex-direction: column;
    }
    
    .create-in {
        top: 0px;
        animation: createin ease;
        animation-duration: 0.5s;
    }
    
    .create-out {
        top: -300px;
        animation: create-out ease;
        animation-duration: 0.5s;
    }
    
    @keyframes create-out {
        0% {
            top: 0px
        }
    
        100% {
            top: -298px
        }
    }
    
    @keyframes createin {
        0% {
            top: -300px
        }
    
        100% {
            top: 0px
        }
    }

    #close-login {
        position: absolute;
        right: 8px;
        top: 8px;
        height: 28px;
        width: 28px;
        cursor: pointer;
        border-radius: 3px;
        transition: 0.4s;
    }
    #close-login:hover {
        background-color: grey;
    }
    